<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackathon.damm.beermeup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library
            android:name="com.google.android.glass"
            android:required="true" />
	
        <activity
            android:name="com.hackathon.damm.beermeup.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/beermeup" />
           
        </activity>
        
        <activity
            android:name="com.hackathon.damm.beermeup.activity.BeerMeUpMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            
             <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/beermeup_info" />
           
        </activity>
        <activity
            android:name="com.hackathon.damm.beermeup.activity.EventDetailActivity"
            android:label="@string/title_activity_event_detail" >
        </activity>

 		<activity android:name="com.hackathon.damm.beermeup.activity.PlayActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
             <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/beermeup_play" />
        </activity>
        
 		<activity android:name="com.hackathon.damm.beermeup.locate.ShowBeerCards"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/beermeup_location" />
        </activity>
        
    </application>

</manifest>
